* {
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
  color: #ebdfc8;
}

body {
  background-color: rgba(0, 0, 0, 0.96);
}

canvas {
  border-radius: 5px;
}

h1,
h4 {
  font-weight: bold;
}

/* Classes */
.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.width-100p {
  width: 100%;
}

.width-100vw {
  width: 100vw;
}

.height-100p {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

/* Backgroung image css */
.background-img {
  background-image: url("../public/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  background-color: rgba(0, 0, 0, 0.96);
}

/* ----------------------------- */

/* Header and footer css */
.logo {
  color: #ebdfc8;
  font-size: 40px;
  margin: 7.7vh 5px 5px 7.45vw;
}

.header {
  position: absolute;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 17.5vh;
}

.header-option {
  margin: 8.66vh 7.45vw 5px 5px;
  padding: 0;
  font-size: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  font-weight: 1000;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header-option:focus,
.header-option:hover {
  color: #ebdfc8;
}

.header-option:focus:after,
.header-option:hover:after {
  width: 100%;
  left: 0%;
}

.header-option:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ebdfc8;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.footer {
  height: 5vh;
  color: #ebdfc8;
  background-color: rgba(255, 255, 255, 0.06);
}

/* ----------------------------- */

/* Form inupt and button css */
.form-input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.form-div {
  --input-focus: #2d8cf0;
  --font-color: #221301;
  --font-color-sub: #666;
  --bg-color: #ebdfc8;
  --main-color: #221301;
  padding: 20px;
  background: #efdfc200;
  background-color: rgba(235, 223, 200, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  align-items: center;
}

.button1 {
  margin: 10px auto 5 auto;
  width: 225px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.button1:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button2 {
  background-color: transparent;
  color: #ebdfc8;
  border: 2px solid #ebdfc8;
  border-radius: 5px;
  padding: 7px;
  font-weight: 600;
}

.button2:hover {
  background-color: #ebdfc8;
  border: 2px solid #141716;
  color: #141716;
}

/* ----------------------------- */

/* Game tutorial component  css */
.control {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ----------------------------- */

/* about page css */
.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 85%;
  width: 86%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ebdfc8;

  h1,
  h3 {
    padding-bottom: 10px;
  }

  p {
    font-size: medium;
    padding: 0px 10%;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    gap: 20px;

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 10px;
    }

    p {
      font-size: 10px;
      padding: 5%;
    }
  }
}

/* ----------------------------- */

/* Scroll down animation css */
.scroll-down {
  position: absolute;
  bottom: 5%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down span {
  width: 3px;
  height: 15px;
  background: #ebdfc8;
  border-radius: 5px;
  margin: 3px;
  animation: move 1.8s infinite ease-in-out;
}

.scroll-down span:nth-of-type(1) {
  transform: rotate(-45deg);
}

.scroll-down span:nth-of-type(2) {
  transform: rotate(45deg);
}

@keyframes move {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 50px;
  }

  100% {
    margin-top: 0;
  }
}

/* ----------------------------- */

/* Matchmaking animation css */
.container {
  width: 112px;
  height: 112px;
}

.box1,
.box2,
.box3 {
  border: 16px solid #ebdfc8;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0;
  animation: anime1 4s 0s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0;
  margin-left: 0;
  animation: anime2 4s 0s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0;
  margin-left: 64px;
  animation: anime3 4s 0s forwards ease-in-out infinite;
}

@keyframes anime1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 0;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
}

@keyframes anime2 {
  0%,
  12.5%,
  25%,
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  75%,
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
}

@keyframes anime3 {
  0%,
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 64px;
  }

  37.5%,
  50%,
  62.5%,
  75%,
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
}

/* ----------------------------- */

/* Chat component css */
.message-div {
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  box-sizing: border-box;
  background: #efdfc200;
  background-color: rgba(235, 223, 200, 0.6);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  align-items: center;
}

.chat-my-message {
  width: 45%;
  background-color: #174187;
  color: white;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
  word-wrap: break-word;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
}

.chat-opponent-message {
  width: 45%;
  background-color: #a0251e;
  color: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  word-wrap: break-word;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
}

/* ----------------------------- */

.ad1 {
  color: #000;
  width: 100%;
  background-color: #ffffff17;
  margin: 5px 0px;
}

.ad-home {
  color: #000;
  height: 75px;
  width: 100%;
  margin: 10px 0px 20px 0px;
  box-sizing: border-box;
  background-color: #ffffff17;
}

/* ID's */
#chat-message-input {
  width: 100%;
  padding: 10px 15px;
  margin: 5px;
}

#game-instructions-text {
  width: 80%;
  margin: 10px 0px 10px 0px;
}

#timer-text {
  width: auto;
  height: auto;
  display: inline-block;
  color: #fff;
  font-family: "Papyrus";
  font-size: 18px;
  font-weight: 800;
  opacity: 0.9;
  padding: 25px 20px 3px 18px;
}

#timer-div {
  position: absolute;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

#game-over-text {
  font-family: "Papyrus";
  font-weight: 500;
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 75px;
  display: none;
  font-size: 20px;
}

#chat-send-btn {
  width: 100px;
  margin: 5px;
}

#game-tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 1.5px;
  border-color: #ebdfc8;
  border-style: none;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 0% 5%;

  h2 {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
    padding: 5px 30px;
    box-sizing: border-box;
  }
}

#controls-container {
  margin: 0px 30px 10px 30px;
  padding: 0px 10%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
}

#game-and-chat-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding: 15px;
  display: flex;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.75);
  gap: 15px;
}

#game-and-chat-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  height: 90%;
  gap: 10px;
}

#lobby-wait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.75);
}

#home-tagline-text {
  position: absolute;
  display: inline-block;
  width: 200px;
  top: 18%;
  left: 7.5%;
  color: #ebdfc8;
  font-size: medium;
  text-align: left;
}

#chat-container {
  margin: 0px 0px 4px 0px;
  box-sizing: border-box;
  height: 384px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  --input-focus: #2d8cf0;
  --font-color: #221301;
  --font-color-sub: #666;
  --bg-color: #ebdfc8;
  --main-color: #221301;
  padding: 20px;
  background: #efdfc200;
  background-color: rgba(235, 223, 200, 0.5);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 0px 2px var(--main-color);
  align-items: center;
}

#chat-message-my-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#chat-message-opponent-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
